.Cabelhaco {margin:1px;
    background-color: gray;
    font-size: 24px;
    width: 600px;
    padding: 10px;
}

.Corpo {width: 600px;
padding: 10px;
background-color: red;
}

.Rodape {width: 600px;
padding: 10px;
}
